<footer>
	<div class="row">
	<div class="col-md-4">

		<h3>Company<span>logo</span></h3>

		<p class="footer-links">
			<a href="/">Home</a>
			·
			<a href="/adminlogin">Administrator</a>
			·
			<a href="#">About</a>
			·
			<a href="mailto:dmao1@student.unimelb.edu.au">Contact</a>
		</p>

		<p class="footer-company-name">Company Name &copy; 2015</p>
	</div>

	<div class="col-md-4">

		<div>
			Address:
			<i class="fa fa-map-marker"></i><p><span>604b Swanston Street Carlton</span> Melbourne Australia</p>
		</div>

		<div>
			Contact Number:
			<i class="fa fa-phone"></i><p>+61 0405312666</p>
		</div>

		<div>
			Email:	
			<i class="fa fa-envelope"></i><p><a href="mailto:dmao1@student.unimelb.edu.au">dmao1@student.unimelb.edu.au</a></p>
		</div>

	</div>

	<div class="fcol-md-4">

		<p>
			<h4>About the company</h4>
			This is the assignment for SWEN90007 Architecture and Design.
		</p>


	</div>

</footer>
