<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/productlist">Products</a></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">Stores</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <% if(user == null ) { %>
          <% console.log(user) %>
          <li><a href="/users/login"><span class="glyphicon glyphicon-user"></span> Login </a></li>
        <% } else{ %>
          <li><a href="/users/profile">Welcome, <%= user.name %> </a></li>
          <li><a href="/users/shoppingcart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
          <li><a href="/users/logout"><span class="glyphicon glyphicon-user"></span> Logout </a></li>
        <% } %>
          
        </ul>
      </div>
    </div>
  </nav>