<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">

    <header>
        <% include ./partials/adminheader %>
    </header>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Add New Discount</h1>
                    <% if(errors != null) { %>
                        <% for(var i in errors) {%>
                            <div class="alert alert-danger" role="alert">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                              <%= errors[i].msg %>
                            </div>
                        <% } %>
                    <% }%>
                    <div>
                        <form action="/admin/creatediscount" method="post">
                            <div class="form-group">
                                <label>Discount Name:</label>
                                <input type="text" name="name" class="form-control" />
                            </div>
                             <div class="form-group">
                                <label>Discount Description:</label>
                                <input type="text" name="description" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Discount Type:</label>
                                <select class="selectpicker" name="selectpicker">
                                  <option>Shipping fee</option>
                                  <option>Group Discount</option>
                                  <option>Product Discount</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Off Rate:</label>
                                <input type="text" name="offrate" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Select Users:</label>
                                <div> 
                                    Filter User (By email or address):
                                    <input type="text" id="searchInput">
                                </div>
                                <div style="overflow:auto">
                                <table class="table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="CheckAll"></th>
                                        <th>Email</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody id="fbody">
                                <%for(var i in users) {%>
                                    <tr>
                                        <td class="li-checkbox">
                                            <input value="<%= users[i].email%>" data-index="<%= i%>" name="chkItem" class="li-checkbox input" type="checkbox">
                                        </td>
                                        <td>
                                            <%= users[i].email%>
                                        </td>
                                        <td>
                                            <%= users[i].address%>
                                        </td>
                                    </tr>
                                <% } %>
                                </tbody>
                                </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                    <label>Start Date:</label>
                                    <input type="text" name="startdate" id="startpicker" />
                                    </div>
                                    <div class="col-md-6">
                                    <label>End Date: </label>
                                    <input type="text" name="enddate" id="endpicker" />    
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary btn-sm" value="Add Discount"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- ... Your content goes here ... -->

        </div>
    </div>

</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../javascripts/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../javascripts/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../javascripts/startmin.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    //Start Date picker
    $('#startpicker').datepicker();

    //End Date picker
    $('#endpicker').datepicker();


    //The User Filter
    $("#searchInput").keyup(function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#fbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    jo.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;
    })
    //show the rows that match.
    .show();
    }).focus(function () {
        this.value = "";
        $(this).css({
            "color": "black"
        });
        $(this).unbind('focus');
    }).css({
        "color": "#C0C0C0"
    });

    //select all check box 
    $('#CheckAll').click(function(){
        var self = $(this);
        $('input[name="chkItem"]:visible').each(function(){
             $(this).prop("checked",self.is(':checked'));
        });
    })

</script>

</body>
</html>
