<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css">
</head>
<body>  
    <header>
        <% include ./partials/header %>
    </header>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <div class="profile-userpic">
                        <img src="../images/carer.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            Welcome, <%= user.name %>
                        </div>
                    </div>
                    <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="/users/profile">
                            <i class="glyphicon glyphicon-home"></i>
                            My Information </a>
                        </li>
                        <li>
                            <a href="/users/reset">                                                 
                            <i class="glyphicon glyphicon-user"></i>
                            Reset Password</a>    
                        </li>
                        <li>
                            <a href="#">
                            <i class="glyphicon glyphicon-ok"></i>
                            Shopping Cart </a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="glyphicon glyphicon-flag"></i>
                            Purchase History </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="alert alert-danger" role="alert">
                <h3>Warning!</h3>
                    <h5>To Delete your account, you need to verify your password first!</h5>
                </div>
                    <br/>
                   <form action="/users/deleteAccount" method="post">
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="text" name="password" class="form-control" />
                        </div>
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete Account"/>
                   </form>
            </div>
        </div>
        </div>
    </div>
    </body>
</html>