<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>Home Page</title>
</head>
<body>

    <header>
        <% include ./partials/header %>
    </header>

    <main>
    	<div class="jumbotron">
		  <div class="container text-center">
			<h1>Online Store</h1>
			<p>Mission, Vission & Values</p>
		  </div>
		</div>
	    <div class="container">
		  <div class="row">
		    <div class="col-sm-4">
		      <div class="panel panel-primary">
		        <div class="panel-heading">BLACK FRIDAY DEAL</div>
		        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
		        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
		      </div>
		    </div>
		    <div class="col-sm-4">
		      <div class="panel panel-danger">
		        <div class="panel-heading">BLACK FRIDAY DEAL</div>
		        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
		        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
		      </div>
		    </div>
		    <div class="col-sm-4">
		      <div class="panel panel-success">
		        <div class="panel-heading">BLACK FRIDAY DEAL</div>
		        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
		        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
		      </div>
		    </div>
		  </div>
		</div><br>

		<div class="container">
		  <div class="row">
		    <div class="col-sm-4">
		      <div class="panel panel-primary">
		        <div class="panel-heading">BLACK FRIDAY DEAL</div>
		        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
		        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
		      </div>
		    </div>
		    <div class="col-sm-4">
		      <div class="panel panel-primary">
		        <div class="panel-heading">BLACK FRIDAY DEAL</div>
		        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
		        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
		      </div>
		    </div>
		    <div class="col-sm-4">
		      <div class="panel panel-primary">
		        <div class="panel-heading">BLACK FRIDAY DEAL</div>
		        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
		        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
		      </div>
		    </div>
		  </div>
		</div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>







