<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Login</title>
    <style>
    	.container {
    		margin-top: 50px;
    		margin-bottom: 50px;
    		
    	}
    	.form-signin {
    		margin-top: 50px;
    	}
    </style>
     <% include ./partials/head %>
</head>
<body>	
    <header>
        <% include ./partials/header %>
    </header>
    <div class="container">
    	<% if(error != null) { %>
    		<div class="alert alert-danger" role="alert">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  <span class="sr-only">Error:</span>
			  <%= error %>
			</div>
		<% }%>
		<div class="col-sm-8">    	
	  		 <div class="jumbotron">
			   <div class="container text-center">
				 <h1>Online Store</h1>
				 <p>Mission, Vission & Values</p>
			   </div>
		     </div>
		 </div>
		 <div class="col-sm-4">
		 	<form class="form-login" action="/users/login" method="post">
		 		<h2 class="form-signin-heading">Please Login</h2>
	 		    <label for="inputEmail" class="sr-only">Email address</label>
		        <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Email address" required autofocus>
		        <br />
		        <label for="inputPassword" class="sr-only">Password</label>
		        <input type="password" id="inputPassword" name= "password" class="form-control" placeholder="Password" required>
		        <div class="checkbox">
		          <label>
		            <input type="checkbox" value="remember_me" name="remember_me"> Remember me
		          </label>
		        </div>
		        <br />
		        <button class="btn btn-md btn-primary btn-block" type="submit">Login</button>
		 	</form>
		 	<form method="get" action="signup">
		 		<br />
		 		<button class="btn btn-md btn-success btn-block" type="sumbit">Sign Up</button>
		 	</form>
		 </div>
	 </div>

    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>