<!-- views/productlist.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>Product List</title>
</head>
<body>
    <header>
        <% include ./partials/header %>
    </header>
    <div class="container">
        <h3>Search for your products!</h3>
        <div class="row">
         <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div>
        <br />
        <div class="row">
        <% for(var i=0; i<product.length; i++) {%>
            <div class="col-md-4 col-sm-6">
              <form action="/users/addProductToShoppingCart" method="post">
                <div class="thumbnail">
                  <img src="<%= product[i].picture%>" alt="...">
                  <div class="caption">
                    <h3><%= product[i].name %></h3>
                    <p><%= product[i].description%></p>
                    <input name="pid" id="pid" type="pid" value="<%= product[i].pid%>" hidden>
                    <p><a href="#" class="btn btn-primary" role="button">More Info</a> <button class="btn btn-default" type="sumbit">Add Into Shoping Cart</button></p>
                  </div>
                </div>
                </form>
            </div>
        <% } %>   
        </div> 
    </div>	
    <footer>
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>
