<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css">

</head>
<body>	
    <header>
        <% include ./partials/header %>
    </header>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <div class="profile-userpic">
                        <img src="../images/carer.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            Welcome, <%= user.name %>
                        </div>
                    </div>
                    <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            My Information </a>
                        </li>
                        <li>
                            <a href="/users/reset">                                                 
                            <i class="glyphicon glyphicon-user"></i>
                            Reset Password</a>    
                        </li>
                        <li>
                            <a href="/users/shoppingcart">
                            <i class="glyphicon glyphicon-ok"></i>
                            Shopping Cart </a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="glyphicon glyphicon-flag"></i>
                            Purchase History </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="panel panel-primary">
                     <div class="panel-heading">Personal Information</div>
                     <ul class="list-group">
                        <li class="list-group-item">Email: <%= user.email %></li>
                        <li class="list-group-item">Name:  <%= user.name %></li>
                        <li class="list-group-item">Phonenumber: <%= user.phonenumber %></li>
                        <li class="list-group-item">Address:  <%= user.address %></li>
                      </ul>
                    </div>
                    <form class="form-login" action="/users/updateInfo" method="get"> 
                        <input type="submit" class="btn btn-primary btn-sm"  value="Update Personal Information">
                    </form>
                    <br />
                    <form class="form-login" action="/users/deleteAccount" method="get"> 
                        <input type="submit" class="btn btn-danger btn-sm"  value="Delete My Account">
                    </form>
            </div>
        </div>
        </div>
    </div>
    </body>
</html>