<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
</head>
<body>  
    <header>
        <% include ./partials/header %>
    </header>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <div class="profile-userpic">
                        <img src="../images/carer.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            Welcome, <%= user.name %>
                        </div>
                    </div>
                    <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="/users/profile">
                            <i class="glyphicon glyphicon-home"></i>
                            My Information </a>
                        </li>
                        <li>
                            <a href="/users/reset">                                                 
                            <i class="glyphicon glyphicon-user"></i>
                            Reset Password</a>    
                        </li>
                        <li class="active">
                            <a href="#">
                            <i class="glyphicon glyphicon-ok"></i>
                            Shopping Cart </a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="glyphicon glyphicon-flag"></i>
                            Purchase History </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
            <h3>Shopping Cart</h3>
                <table class="table">
                  <thead>
                    <tr>
                      <th><input type="checkbox" id="CheckAll"></th>
                      <th></th>
                      <th>Product Name:</th>
                      <th>Price:</th>
                      <th>Quantity:</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i<shoppingcart.product.length; i++) {%>
                    <tr>
                        <td>
                            <div class="td-checkbox">
                                <input data-id="<%= shoppingcart.product[i].pid %>" data-index="<%= i%>" data-price="<%= shoppingcart.product[i].price %>" class="td-checkbox input" type="checkbox" name="chkItem" />
                            </div>
                        </td>
                        <td><img src="<%= shoppingcart.product[i].picture%>" class="img-rounded" height="100" width="100"></td>
                        <td class="td-content"><%= shoppingcart.product[i].name %></td>
                        <td class="td-price"><%= shoppingcart.product[i].price %></td>
                        <td class="td-quantity">
                            <a data-type="add" herf="javascript:void(0);" class="btn btn-default btn-xs">+</a>
                            <input id="Q<%= i%>" style="width: 40px;" type="text" value="<%= shoppingcart.product[i].quantity %> ">
                            <a data-type="subtr" herf="javascript:void(0);" class="btn btn-default btn-xs">-</a>                        
                        </td>
                        <td class="td-del">
                            <a herf="/users/delFromCart/<%= shoppingcart.product[i].pid%>" class="btn btn-danger btn-xs">Delete</a>
                        </td>
                    </tr>
                    <% } %> 
                  </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Select a discount:</h5>
                    </div>
                    <div class="col-md-12">
                      <select class="selectpicker" id="selectpicker">
                        <% for(var i=0; i<discount.length;i++) {%>
                          <option date-offrate="<%= discount[i].offrate%>" date-type="<%= discount[i].discounttype%>"><%= discount[i].name%></option>
                        <% } %>
                      </select>
                      <div class="test"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11 col-lg-10 text-right">Shipping:</div>
                    <div class="col-xs-1 col-lg-2 text-right">10.00 AUD</div>
                    <div class="col-xs-11 col-lg-10 text-right">Total:</div>
                    <div class="col-xs-1 col-lg-2 text-right"><p id="Total"></p></div>
                </div>
                <br />
                <div class="row">
                    <div class="text-right col-xs-12 col-md-12">
                        <a href="/checkout" class="btn btn-primary">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

    <script>
        //show the price at the very beginning with shipping fee
        var policy = $('#selectpicker').find("option:selected").attr('date-type');
        var offrate = $('#selectpicker').find("option:selected").attr('date-offrate');
        if(policy == 'Shipping fee'){
          $("#Total").html('0.00 AUD');
        }
        if(policy == 'Group Discount'){
          $("#Total").html('10.00 AUD');
        }         
         
        //select all check box 
        $('#CheckAll').click(function(){
            var self = $(this);
            $('input[name="chkItem"]').each(function(){
                 $(this).prop("checked",self.is(':checked'));
            });
            checksum();
        })

        //select each check box
        $('input[name="chkItem"]:checkbox').click(function(){
           var isCheck = $('input[name="chkItem"]:not(:checked)').length?false:true;
           $('#CheckAll').prop("checked",isCheck);
           checksum();
        });

        //add or subtr product quantity
        $('.td-quantity a').click(function(){
            var self = $(this);
            var type = self.attr('data-type'),
                num = parseFloat(self.siblings('input').val());
            if(type == 'add'){
                  num += 1;
             }else if(type == 'subtr'){
                  if(num > 1){
                     num -= 1;
                  }else{
                     return false;
                  }
             }
            self.siblings('input').val(num);
            checksum();
        });

        //check sum fucntion 
        function checksum(){         
            var sum = 0;  
            $('input[name="chkItem"]:checked').each(function(){
                var self = $(this),
                 price = self.attr('data-price'),
                 index = self.attr('data-index');
                 var quantity = $('#Q'+index).val();
                 sum +=(parseFloat(price)*parseFloat(quantity));
             });
            var policy = $('#selectpicker').find("option:selected").attr('date-type');
            var offrate = $('#selectpicker').find("option:selected").attr('date-offrate');
            if(policy == 'Shipping fee'){
              sum = sum - 10;
            }
            if(policy == 'Group Discount'){
              sum = (parseFloat(sum)*parseFloat(offrate));
            } 
            sum = sum + 10;
            $("#Total").html(sum.toFixed(2) +' AUD');
        }

        //Select picker
        $('#selectpicker').change(function(){            
            checksum();
        });

    </script>
</html>