<!-- views/signup.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>Sign In</title>
    <style>
    	.container{
    		margin-bottom: 40px;
    		width: 50%;
    	}
    </style>
</head>

<body>
	<header>
		<% include ./partials/header %>
	</header>
	<div class="container">
		<h2 class="page-header">Registeration</h2>
		<% if(errors != null) { %>
			<% for(var i in errors) {%>
	    		<div class="alert alert-danger" role="alert">
				  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				  <span class="sr-only">Error:</span>
				  <%= errors[i].msg %>
				</div>
			<% } %>
		<% }%>
		<form action="/users/signup" method="post">
		    <div class="form-group">
		        <label>Email:</label>
		        <input type="text" name="username" class="form-control" />
		    </div>
		     <div class="form-group">
		        <label>New Password:</label>
		        <input type="password" name="password" class="form-control" />
		    </div>
		    <div class="form-group">
		        <label>Comfirm Password:</label>
		        <input type="password" name="password2" class="form-control" />
		    </div>
		    <div class="form-group">
		        <label>Name:</label>
		        <input type="text" name="name" class="form-control" />
		    </div>
		   	<div class="form-group">
		        <label>Phone Number:</label>
		        <input type="text" name="phonenumber" class="form-control" />
		    </div>
		    <div class="form-group">
		        <label>Address:</label>
		        <input type="text" name="address" class="form-control" />
		    </div>
		    <div>
		        <input type="submit" class="btn btn-primary btn-sm" value="Register"/>
		    </div>
		 </form>
	</div>
    <footer>
        <% include ./partials/footer %>
    </footer>
	</body>
</html>