<!-- views/signup.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>Update Personal Info</title>
    <style>
    	.container{
    		margin-bottom: 40px;
    		width: 50%;
    	}
    </style>
</head>

<body>
	<header>
		<% include ./partials/header %>
	</header>
	<div class="container">
		<h2 class="page-header">Update Personal Information</h2>
		<form action="/users/updateInfo" method="post">
		    <div class="form-group">
		        <label>Name:</label>
		        <input type="text" name="name" class="form-control" />
		    </div>
		   	<div class="form-group">
		        <label>Phone Number:</label>
		        <input type="text" name="phonenumber" class="form-control" />
		    </div>
		    <div class="form-group">
		        <label>Address:</label>
		        <input type="text" name="address" class="form-control" />
		    </div>
		    <div>
		        <input type="submit" class="btn btn-primary btn-sm" value="Update"/>
		    </div>
		 </form>
	</div>
	</body>
</html>