<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css">
    <style>        
    .col-center-block {  
        float: none;  
        display: block;  
        margin-left: auto;  
        margin-right: auto;  
    }  
    </style>

</head>
<body>  
   <div class="container">
     <div class="row">  
        <div class="col-xs-6 col-md-4 col-center-block">  
            <form action="/users/updatepassword" method="post">
                <h2 class="form-signin-heading">Reset your password</h2>
                <br />
                <label>New Password</label>
                <input name="password" type="username" class="form-control" required autofocus>
                <br />
                <label>Comfirm Password:</label>
                <input name="password1" type="password" class="form-control" required>
                <br />
                <input name="uid" id="uid" type="uid" value="<%= userid%>" hidden>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
                
            </form>
        </div>
      </div>  
    </div>
</body>

</html>